{% load static %}
<html>
	<head>
		<script src="{% static "uikit-3.0.0-beta.22/js/uikit.min.js" %}"></script>
	</head>
	<body>
		<div id="menuMovil" data-uk-dropdown="{mode:'click'}" style="position: relative;">
		    <a href="#" class="uk-navbar-toggle uk-visible-small"></a>
		    <ul id="opcionesMenuToggle" class="uk-nav uk-dropdown">
				<li class="uk-nav-header">DIBUJOS</li>
				<li><a id="cuadernoI" href="#">CUADERNO I</a></li>
				<li><a id="cuadernoII" href="#">CUADERNO II</a></li>
				<li><a id="grenudas" href="#">GREÑUDAS</a></li>
				<li><a id="acordionI" href="#">ACORDIÓN I</a></li>
				<li><a id="cuadernionII" href="#">ACUADERNIÓN II</a></li>
				<li class="uk-nav-header">FOTOS</li>
				<li><a id="guerrero" href="#">GUERRERO</a></li>
				<li><a id="semanaSanta" href="#">SEMANA SANTA</a></li>
				<li><a id="albumIII" href="#">ALBUM III</a></li>
				<li class="uk-nav-header">INFO</li>
				<li><a id="cv" href="#">CV</a></li>
				<li><a id="mail" href="mailto:info@walterrojas.online">info@walterrojas.online</a></li>
			</ul>    
		</div>
	</body>
</html>

